* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100%;
}

.main-interface {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 15vh;
}

body {
    height: 3000px;
}

.main-container {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    padding: 15vh;
    background-color: rgb(220, 234, 238);
}

.main-content {
    width: 100%;
}

.imgMain {
    margin-right: 4vh;
    width: 20%;
    background: url(./img/HR1.jpeg);
    background-size: cover;
    background-position: center;
}

.about-interface , .partner-interface{
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}

.about-card {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card img {
    width: fit-content;
    height: 15rem;
}

.personalValue {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
}

.visionTitle, .missionTitle {
    width:  45%;
    height: 13vh;
    display: flex;
    justify-content: center;
}

.vision, .mission {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vision img , .mission img{
    padding-top: 10vh;
}

.partner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner-interface {
    padding-bottom: 5vh;
}

.partner-box {
    width: 80%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}